-- CreateEnum
CREATE TYPE "public"."TaskAssigneeStatus" AS ENUM ('in_progress', 'submitted', 'done', 'rejected');

-- AlterTable
ALTER TABLE "public"."Attachment" ADD COLUMN     "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
ADD COLUMN     "originalName" TEXT,
ADD COLUMN     "sha256" VARCHAR(64),
ALTER COLUMN "messageId" DROP NOT NULL;

-- AlterTable
ALTER TABLE "public"."Task" ADD COLUMN     "reviewRequired" BOOLEAN NOT NULL DEFAULT false;

-- AlterTable
ALTER TABLE "public"."TaskAssignee" ADD COLUMN     "reviewedAt" TIMESTAMP(3),
ADD COLUMN     "reviewedById" TEXT,
ADD COLUMN     "submittedAt" TIMESTAMP(3),
DROP COLUMN "status",
ADD COLUMN     "status" "public"."TaskAssigneeStatus" NOT NULL DEFAULT 'in_progress';

-- CreateTable
CREATE TABLE "public"."Submission" (
    "id" TEXT NOT NULL,
    "taskAssigneeId" TEXT NOT NULL,
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Submission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SubmissionAttachment" (
    "submissionId" TEXT NOT NULL,
    "attachmentId" TEXT NOT NULL,

    CONSTRAINT "SubmissionAttachment_pkey" PRIMARY KEY ("submissionId","attachmentId")
);

-- CreateIndex
CREATE INDEX "Submission_taskAssigneeId_idx" ON "public"."Submission"("taskAssigneeId");

-- CreateIndex
CREATE INDEX "SubmissionAttachment_attachmentId_idx" ON "public"."SubmissionAttachment"("attachmentId");

-- CreateIndex
CREATE INDEX "TaskAssignee_status_idx" ON "public"."TaskAssignee"("status");

-- CreateIndex
CREATE INDEX "TaskAssignee_reviewedById_idx" ON "public"."TaskAssignee"("reviewedById");

-- AddForeignKey
ALTER TABLE "public"."TaskAssignee" ADD CONSTRAINT "TaskAssignee_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Submission" ADD CONSTRAINT "Submission_taskAssigneeId_fkey" FOREIGN KEY ("taskAssigneeId") REFERENCES "public"."TaskAssignee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SubmissionAttachment" ADD CONSTRAINT "SubmissionAttachment_submissionId_fkey" FOREIGN KEY ("submissionId") REFERENCES "public"."Submission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SubmissionAttachment" ADD CONSTRAINT "SubmissionAttachment_attachmentId_fkey" FOREIGN KEY ("attachmentId") REFERENCES "public"."Attachment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

