-- удалить сообщения из тредов с NULL-участниками
DELETE FROM "Message"
WHERE "threadId" IN (SELECT "id" FROM "Thread" WHERE "aId" IS NULL OR "bId" IS NULL);

-- удалить сами треды с NULL-участниками
DELETE FROM "Thread" WHERE "aId" IS NULL OR "bId" IS NULL;

-- снять старые FK со стратегией SET NULL
ALTER TABLE "Thread" DROP CONSTRAINT IF EXISTS "Thread_aId_fkey";
ALTER TABLE "Thread" DROP CONSTRAINT IF EXISTS "Thread_bId_fkey";

-- ужесточить столбцы
ALTER TABLE "Thread" ALTER COLUMN "aId" SET NOT NULL;
ALTER TABLE "Thread" ALTER COLUMN "bId" SET NOT NULL;

-- заново повесить FK с RESTRICT/ CASCADE
ALTER TABLE "Thread"
  ADD CONSTRAINT "Thread_aId_fkey"
  FOREIGN KEY ("aId") REFERENCES "User"("id") ON UPDATE CASCADE ON DELETE RESTRICT;

ALTER TABLE "Thread"
  ADD CONSTRAINT "Thread_bId_fkey"
  FOREIGN KEY ("bId") REFERENCES "User"("id") ON UPDATE CASCADE ON DELETE RESTRICT;

-- опционально: ускорение поиска пары
CREATE INDEX IF NOT EXISTS "Thread_pair_idx" ON "Thread" ("aId","bId");

-- DropForeignKey
ALTER TABLE "public"."Thread" DROP CONSTRAINT "Thread_aId_fkey";

-- DropForeignKey
ALTER TABLE "public"."Thread" DROP CONSTRAINT "Thread_bId_fkey";

-- AlterTable
ALTER TABLE "public"."Thread" ALTER COLUMN "aId" SET NOT NULL,
ALTER COLUMN "bId" SET NOT NULL;

-- CreateTable
CREATE TABLE "public"."ReadMark" (
    "threadId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "readAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ReadMark_pkey" PRIMARY KEY ("threadId","userId")
);

-- CreateTable
CREATE TABLE "public"."Attachment" (
    "id" TEXT NOT NULL,
    "messageId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "mime" TEXT NOT NULL,
    "size" INTEGER NOT NULL,
    "data" BYTEA NOT NULL,

    CONSTRAINT "Attachment_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "ReadMark_userId_idx" ON "public"."ReadMark"("userId");

-- CreateIndex
CREATE INDEX "Attachment_messageId_idx" ON "public"."Attachment"("messageId");

-- CreateIndex
CREATE INDEX "Message_threadId_createdAt_idx" ON "public"."Message"("threadId", "createdAt");

-- AddForeignKey
ALTER TABLE "public"."Thread" ADD CONSTRAINT "Thread_aId_fkey" FOREIGN KEY ("aId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Thread" ADD CONSTRAINT "Thread_bId_fkey" FOREIGN KEY ("bId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReadMark" ADD CONSTRAINT "ReadMark_threadId_fkey" FOREIGN KEY ("threadId") REFERENCES "public"."Thread"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReadMark" ADD CONSTRAINT "ReadMark_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Attachment" ADD CONSTRAINT "Attachment_messageId_fkey" FOREIGN KEY ("messageId") REFERENCES "public"."Message"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

