ALTER TABLE "Attachment" ADD COLUMN IF NOT EXISTS "sha256" VARCHAR(64);

CREATE TABLE IF NOT EXISTS "TaskAttachment" (
  "taskId" TEXT NOT NULL,
  "attachmentId" TEXT NOT NULL,
  CONSTRAINT "TaskAttachment_pkey" PRIMARY KEY ("taskId","attachmentId"),
  CONSTRAINT "TaskAttachment_task_fkey" FOREIGN KEY ("taskId") REFERENCES "Task"("id") ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT "TaskAttachment_attachmentId_fkey" FOREIGN KEY ("attachmentId") REFERENCES "Attachment"("id") ON DELETE CASCADE ON UPDATE CASCADE
);

CREATE INDEX IF NOT EXISTS "TaskAttachment_attachmentId_idx"
  ON "TaskAttachment"("attachmentId");
